* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.containerItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid black;
}

.containerData {
    display: flex;
}

.containerName {
    padding: 10px;
    margin-right: 100px;
    border-right: 1px solid black;
}

.containerEmail {
    border: 1px solid black;
} 

.containerButtons {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
