* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerModalCadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.322);
}

.modalCadastro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    width: 30vw;
    height: 300px;
    z-index: 10;
    border-radius: 20px;
}

.modalCadastro p {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}


.modalCadastro img {
    position: absolute;
    right: 680px;
    cursor: pointer;
    width: 50px;
}

.containerInformation {
    display: flex;
    width: 70%;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
}

.containerInformation label {
    font-size: 20px;
}

.containerInformation input {
    padding: 5px 10px;
    width: 100%;
    font-size: 20px;
}

.containerButtons {
    display: flex;
    margin-bottom: 20px;
}

.containerButtons button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 20px;
}